
.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  transition: 0.3s background-color;
  .card {
    width: 95%;
    border-bottom: 1px solid rgb(230, 230, 230);
    height: 80px;
    display: flex;
    align-items: center;

    }
    .imgdiv {
      width: 7%;
      display: flex;
      justify-content: center;
      align-items: center;
      .contactImg {
        border-radius: 50%;
        border: 3px solid rgb(0, 195, 255);
       
        
        
        
    }
    .informationdiv{
        width: 93%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .nameText{
            font-family: Comic Sans MS, Comic Sans, cursive;
            margin:0
        }
        .phoneText
        {
            color: gray;
            letter-spacing: 7px;
            font-family: Comic Sans MS, Comic Sans, cursive;
            margin: 0;
        }
    }

  }
}
.cardsContainer:hover
{
  background-color: gainsboro;

}