.footerdiv{
    width:100%;
    height:70px;
    position: fixed;
    bottom:0px;
    display: flex;
    -webkit-box-shadow: 0px -4px 28px 0px rgba(199,199,199,1);
-moz-box-shadow: 0px -4px 28px 0px rgba(199,199,199,1);
box-shadow: 0px -4px 28px 0px rgba(199,199,199,1);
background-color: white;
    .footerpart{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.33%;
        height: 100%;
        border-right:0.2px solid rgb(196, 196, 196);
        font-size: 22pt;
        color:rgb(135, 135, 135);
        cursor: pointer;
    }
}